---
import Layout from "@/layouts/layout.astro";
import { formatDate } from "@/lib";
import { Icon } from "@/ui/react";
import { Image } from "astro:assets";
import { getEntryBySlug } from "astro:content";
import { ArrowLeft, X } from "lucide-react";

const { slug } = Astro.params;

const entry = await getEntryBySlug("blog", slug || "");

if (entry === undefined) {
  return Astro.redirect("/404");
}

const { Content } = await entry.render();
---

<style is:global>
  article {
    h2,
    h3,
    h4 {
      position: relative;
      line-height: 1.5;
      font-weight: 600;

      &::after {
        content: "";
        position: absolute;
        bottom: -0.5rem;
        left: 0;
        width: 5rem;
        height: 4px;
        background-color: hsl(var(--primary));
      }
    }

    h2 {
      margin: 2rem 0;
      font-size: 2.25rem;
    }

    h3 {
      margin: 1.875rem 0;
      font-size: 1.875rem;
    }

    h4 {
      margin: 1.75rem 0;
      font-size: 1.5rem;
    }

    ul,
    ol,
    blockquote,
    p {
      margin: 1rem 0;
    }

    p {
      font-size: 1.25rem;
      line-height: 1.65;
      font-weight: 400;
    }

    a {
      color: hsl(var(--primary));
    }

    a:hover {
      text-decoration: underline;
    }

    .socials a:hover {
      color: hsl(var(--primary-hover));
    }

    ul,
    ol {
      font-weight: 400;
      padding-left: 2rem;
    }

    ul li {
      list-style-type: square;

      &::marker {
        color: hsl(var(--primary));
      }
    }

    ol li {
      list-style-type: decimal;
    }

    li {
      margin: 0.25rem 0;
      font-size: 1.25rem;
      line-height: 1.65;

      ul,
      ol {
        margin: 0;
      }
    }
  }

  @media (max-width: 768px) {
    article {
      ul,
      ol,
      blockquote,
      p {
        margin: 0.75rem 0;
      }

      ul,
      ol {
        padding-left: 1rem;
      }

      p,
      li {
        font-size: 1.125rem;
      }

      h2,
      h3 {
        margin: 1.75rem 0;
      }

      h2 {
        font-size: 1.75rem;
      }

      h3 {
        font-size: 1.5rem;
      }

      h4 {
        font-size: 1.375rem;
      }
    }
  }
</style>

<!-- 
  - Style blockquotes
  - Add meta tags for SEO
  - Add View Transitions
  - Figure out next and prev blog posts
 -->

<Layout title={`${entry.data.title} - Volodymyr Mokhun`}>
  <div
    class="flex flex-col lg:flex-row items-start pt-6 pb-8 lg:pt-8 max-w-[70ch] lg:max-w-6xl mx-auto px-3 md:px-5"
  >
    <a
      class="lg:text-zinc-500 lg:dark:text-zinc-400 transition-colors lg:hover:text-primary-hover lg:dark:hover:text-primary-hover inline-flex items-center gap-1 bg-transparent border lg:border-0 border-zinc-500 dark:border-zinc-400 hover:bg-primary lg:hover:bg-transparent hover:text-primary-foreground hover:border-transparent px-3 py-1 rounded-sm lg:p-0 font-semibold lg:font-normal mb-8 lg:mb-0 text-lg"
      href="/blog"
    >
      <ArrowLeft className="w-4 h-4" />
      <span>All Posts</span>
    </a>
    <div class="max-w-[70ch] mx-auto">
      <article class="text-justify">
        <div
          class="flex flex-col md:flex-row md:items-center md:justify-between gap-2 md:gap-4 mb-3 md:mb-0"
        >
          <p
            class="text-zinc-500 dark:text-zinc-400 flex items-center gap-3 my-0 text-base"
          >
            <span>
              Published {" "}
              <time
                class="italic"
                datetime={entry.data.date.toLocaleDateString()}
              >
                {formatDate(entry.data.date)}
              </time>
            </span>
            {
              entry.data.category && (
                <>
                  <X className="h-5 w-5 text-primary stroke-[4px]" />
                  <span class="">{entry.data.category}</span>
                </>
              )
            }
          </p>
          <ul class="socials flex items-center gap-5 md:gap-3 my-0 p-0">
            <li class="list-none my-0">
              <a
                aria-label="GitHub"
                target="_blank"
                rel="noopener noreferrer"
                href="https://github.com/V-Mokhun"
                class="text-foreground dark:text-white transition-colors"
              >
                <Icon name="github" />
              </a>
            </li>
            <li class="list-none my-0">
              <a
                aria-label="LinkedIn"
                target="_blank"
                rel="noopener noreferrer"
                href="https://www.linkedin.com/in/v-mokhun"
                class="text-foreground dark:text-white transition-colors"
              >
                <Icon name="linkedin" />
              </a>
            </li>
            <li class="list-none my-0">
              <a
                aria-label="Twitter (X)"
                target="_blank"
                rel="noopener noreferrer"
                href="https://twitter.com/v_mokhun"
                class="text-foreground dark:text-white transition-colors"
              >
                <Icon name="twitter" />
              </a>
            </li>
          </ul>
        </div>
        <h1
          transition:name={`${entry.slug} title`}
          class="text-4xl sm:text-5xl leading-tight font-semibold mb-6"
        >
          {entry.data.title}
        </h1>
        <Image
          src={entry.data.image}
          alt={entry.data.imageAlt}
          class="w-full h-full object-cover mb-4"
          transition:name={`${entry.slug} image`}
        />
        <Content />
      </article>
      <div
        class="mt-6 md:mt-8 space-y-3 py-3 md:py-4 px-4 md:px-8 border-l-4 border-primary leading-relaxed bg-slate-200 dark:bg-zinc-800 text-justify font-mono text-sm md:text-base"
      >
        <p>
          Do you notice any problems with this post? Do you have suggestions for
          clarifying, updating, or adding to it?
        </p>
        <p>
          Feel free to make edits on Github, as any improvement, no matter how
          minor, is welcomed!
        </p>
        <p>
          <!-- TODO: change href -->
          <a
            aria-label="GitHub"
            target="_blank"
            rel="noopener noreferrer"
            href="https://github.com/V-Mokhun"
            class="inline-flex items-center gap-1 underline text-foreground dark:text-white hover:underline"
          >
            <Icon className="w-5 h-5" name="github" />
            <span>Edit</span>
          </a>
        </p>
      </div>
    </div>
  </div>
</Layout>
