---
import Layout from "@/layouts/layout.astro";
import { getEntryBySlug } from "astro:content";
import { formatDate } from "@/lib";
import { Title } from "@/ui/react";
import { Layers3 } from "lucide-react";
import { Image } from "astro:assets";

const { slug } = Astro.params;

const entry = await getEntryBySlug("blog", slug || "");

if (entry === undefined) {
  return Astro.redirect("/404");
}

const { Content } = await entry.render();
---

<Layout>
  <article>
    <Title tag="h1">{entry.data.title}</Title>
    <h3 class="text-lg italic inline-flex items-center gap-2 mb-2">
      <span>
        {formatDate(entry.data.date)}
      </span>
      {
        entry.data.category && (
          <span class="inline-flex items-center gap-1">
            <Layers3 className="h-4 w-4 text-primary" />
            {entry.data.category}
            <Layers3 className="h-4 w-4 text-primary" />
          </span>
        )
      }
    </h3>
    <Image
      src={entry.data.image}
      alt={entry.data.imageAlt}
      class="w-full h-96 object-cover mb-4"
    />
    <Content />
  </article>
</Layout>
