---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { ChevronLeft, ChevronRight } from "lucide-react";

interface Props {
  prevPost: CollectionEntry<"blog"> | undefined;
  nextPost: CollectionEntry<"blog"> | undefined;
}

const { nextPost, prevPost } = Astro.props;
---

{
  (nextPost || prevPost) && (
    <div
      class:list={[
        "flex flex-col md:flex-row md:items-center justify-between py-2 md:py-4 md:gap-4 border rounded-md md:rounded-none md:border-0 md:border-t border-zinc-500",
        prevPost &&
          nextPost &&
          "relative md:after:absolute after:w-[1px] after:h-full after:top-0 after:left-[calc(50%+0.5rem)] after:-translate-x-1/2 after:bg-zinc-500",
      ]}
    >
      {prevPost && (
        <a
          href={`/blog/${prevPost.slug}`}
          class:list={[
            "group flex items-center gap-3 flex-1 px-2 md:px-0",
            nextPost &&
              "border-b border-zinc-500 md:border-0 pb-2 mb-2 md:pb-0 md:mb-0",
          ]}
        >
          <Image
            src={prevPost.data.image}
            alt={prevPost.data.imageAlt}
            class="w-16 h-16 object-cover rounded-md"
            transition:name={`${prevPost.slug} image`}
          />
          <div class="space-y-0.5">
            <div class="flex items-center gap-0.5 text-sm">
              <ChevronLeft className="w-5 h-5" />
              <span class="text-primary font-semibold">Previous</span>
            </div>
            <h3
              transition:name={`${prevPost.slug} title`}
              class="text-lg xs:text-xl font-medium leading-tight tracking-tight transition-colors group-hover:text-primary-hover"
            >
              {prevPost.data.title}
            </h3>
          </div>
        </a>
      )}
      {nextPost && (
        <a
          href={`/blog/${nextPost.slug}`}
          class="group flex flex-row-reverse items-center gap-3 flex-1 px-2 md:px-0"
        >
          <Image
            src={nextPost.data.image}
            alt={nextPost.data.imageAlt}
            class="w-16 h-16 object-cover rounded-md"
            transition:name={`${nextPost.slug} image`}
          />

          <div class="space-y-0.5 ">
            <div class="flex items-center justify-end gap-0.5 text-sm">
              <span class="text-primary font-semibold">Next</span>
              <ChevronRight className="w-5 h-5" />
            </div>
            <h3
              transition:name={`${nextPost.slug} title`}
              class="text-lg xs:text-xl font-medium leading-tight tracking-tight transition-colors group-hover:text-primary-hover"
            >
              {nextPost.data.title}
            </h3>
          </div>
        </a>
      )}
    </div>
  )
}
