---
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"blog">["data"] & {
    slug: CollectionEntry<"blog">["slug"];
  };
}

const { post } = Astro.props;

// const baseURL = Astro.url.origin;
const baseURL = "https://www.v-mokhun.com";

const url = `${baseURL}/blog/${post.slug}`;
const ogImage = `${baseURL}${post.image.src.split("?")[0]}`;
---

<Fragment>
  <title>{`${post.title} - Volodymyr Mokhun`}</title>

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@v_mokhun" />
  <meta name="twitter:creator" content="@v_mokhun" />
  <meta name="twitter:url" content={url} />
  <meta name="twitter:title" content={post.title} />
  <meta name="twitter:description" content={post.excerpt} />
  <meta name="twitter:image" content={ogImage} />

  <meta property="og:type" content="article" />
  <meta property="og:title" content={post.title} />
  <meta property="og:url" content={url} />
  <meta property="og:description" content={post.excerpt} />
  {
    post.date ? (
      <meta
        property="article:published_time"
        content={new Date(post.date).toISOString()}
      />
    ) : null
  }

  <meta property="og:site_name" content="Volodymyr Mokhun" />
  <meta property="og:image" content={ogImage} />
  <meta property="og:image:width" content="1000" />
  <meta property="og:image:height" content="667" />
  <meta property="og:locale" content="en_US" />
</Fragment>
