---
import projectImage from "@/assets/images/project-1.png";
import { Image } from "astro:assets";
import { Title, buttonVariants } from "../shared";
import Container from "../shared/Container.astro";
import { getCollection } from "astro:content";

const allProjects = await getCollection("projects");
---

<section class="py-4 md:py-6 bg-background-secondary" id="projects">
  <Container>
    <Title className="text-center text-white">Projects</Title>
    <ul class="flex gap-4 md:gap-6 flex-wrap flex-col md:flex-row">
      {
        allProjects.map((proj) => (
          <li class="flex flex-1 md:flex-[0_1_calc(50%-12px)] flex-col rounded-lg gap-2 bg-background">
            <a
              class="flex justify-center"
              href={proj.data.projectLink}
              target="_blank"
              rel="noopener noreferrer"
            >
              <Image
                src={proj.data.image}
                alt={proj.data.title}
                height={288}
                class="object-cover rounded-t-lg w-full"
              />
            </a>
            <div class="flex flex-col h-full p-2 pb-4 md:p-4 md:pt-2">
              <div class="flex-auto">
                <Title tag="h3" size="sm" className="mb-0 md:mb-2">
                  {proj.data.title}
                </Title>
                <p class="text-zinc-500 font-medium mb-2 md:mb-4 text-xl md:text-2xl">
                  {proj.data.type}
                </p>
                <p class="mb-2 md:mb-4 text-sm md:text-base">
                  {proj.data.description}
                </p>
              </div>
              <div class="mb-4">
                <p class="text-zinc-500 font-medium text-xl md:text-2xl mb-2">
                  Technologies
                </p>
                <ul class="flex flex-wrap gap-x-4 gap-y-2">
                  {proj.data.technologies.map((technology) => (
                    <li class="inline-flex items-center rounded-sm px-2.5 py-0.5 text-sm md:text-base font-medium bg-background-secondary text-primary-foreground shadow">
                      {technology}
                    </li>
                  ))}
                </ul>
              </div>
              <div class="flex items-center gap-4">
                <a
                  class={buttonVariants({
                    variant: "outline",
                    className: "shadow-md",
                  })}
                  href={proj.data.projectLink}
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  Live Demo
                </a>
                {proj.data.sourceCodeLink && (
                  <a
                    class={buttonVariants()}
                    href={proj.data.sourceCodeLink}
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    Source Code
                  </a>
                )}
              </div>
            </div>
          </li>
        ))
      }
    </ul>
  </Container>
</section>
