---
import { formatDate } from "@/lib";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { Timer } from "lucide-react";

interface Props {
  post: CollectionEntry<"blog">;
}
const { post } = Astro.props;
---

<article class="flex flex-col shadow-sm">
  <a href={`/blog/${post.slug}`} class="group">
    <Image
      transition:name={`${post.slug} image`}
      src={post.data.image}
      alt={post.data.imageAlt}
      class="rounded-t-md max-w-full h-full max-h-72 object-cover transition-opacity md:group-hover:opacity-75"
    />
  </a>
  <div
    class="rounded-b-md p-4 xs:pt-6 flex flex-col h-full bg-card text-card-foreground"
  >
    <h3
      class="text-xl xs:text-2xl lg:text-3xl font-semibold leading-none tracking-tight mb-2 xs:mb-3 transition-colors hover:text-primary text-title"
      transition:name={`${post.slug} title`}
    >
      <a href={`/blog/${post.slug}`}>
        {post.data.title}
      </a>
    </h3>
    <p class="text-sm xs:text-base mb-3 xs:mb-4 peer flex-1">
      {post.data.excerpt}
    </p>
    <div class="flex items-center justify-between gap-4 text-sm">
      <time
        class="inline-flex items-center gap-1"
        datetime={post.data.date.toLocaleDateString()}
      >
        <Timer className="w-4 h-4" />
        {formatDate(post.data.date)}
      </time>
      {
        post.data.category && (
          <span class="font-mono">{post.data.category}</span>
        )
      }
    </div>
  </div>
</article>
